
.map{
    width: 650px;
    height: 300px;
    border: 1px solid black;
}

/* 
.poster{
    width: auto;
    color: black;
    display: flex; 
}

.newsfeed1{
    display: flex;
}

.newsfeed{
    margin-top: 5%;
}

.img{
    width: 40px;
    margin: 5px 10px;         
}

.comment{
    height: 45px;
    width: 90%;
    margin: 5%;
    border-top: 1px solid #c3bdbd;
    border-bottom: 1px solid #c3bdbd;
    display: flex;
    justify-content: space-between;
}

.comment1{
    display: flex;
} */



