.nav {
  position: absolute;
  font-size: 1rem;
  display: flex;
  min-width: 100%;
  max-height: 100vw;
  columns: 4;
  color: white;
  justify-content: space-around;
  background: rgb(63, 94, 251);
  background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(255, 69, 107, 1) 100%);
  padding-top: 20px;
}

.list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  cursor: pointer;
}

.list1 {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  cursor: pointer;
}

.dn {
  border-right: 1px solid rgba(173, 170, 170, 0.414);
  height: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  color: black;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 5px;
  font-size: 1rem;
}

.dropdown:hover .drop {
  display: block;
}

.text {
  height: 35px;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  font-family: monospace;
  cursor: pointer;
}

.text1 {
  height: 35px;
  font-weight: 700;
  font-family: monospace;
  color: white;
  cursor: pointer;

}

.logo {
  display: flex;
  justify-content: space-evenly;
}


.nd {
  padding: 6px;
  font-family: math;
}

.home {
  height: 100%;
}

.gt {
  display: flex;
  justify-content: space-evenly;
  background-color: #e0e3e8;
  min-width: 100%;
  padding: 10% 10% 0 5%;
  min-height: 520px;
}

.content {
  font-family: math;
}

.icright {
  /* padding-top: 8px; */
  font-size: 0.75rem;
}


.imgHand {
  margin-right: 40px;
  margin-left: 60px;
}

.linknav {
  padding: 10px;
  margin-top: -12px;
  height: 40px;
  min-width: 80px;
  font-family: math;
}

.linknav:hover {
  color: rgba(241, 240, 240, 0.655);
  background: none !important;
}

.content1 {
  padding: 50px;
  border: 1px solid rgb(225, 220, 220);
  border-radius: 1%;
  margin: 30px;
  width: 30%;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f7f7f7f0;
}

.content2 {
  width: 50%;
  margin-left: 2%;
  text-align: start;
}

.footer {
  display: flex;
  justify-content: space-around;
  width: auto;
  height: 250px;
  background: rgb(63, 94, 251);
  background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(255, 69, 107, 1) 100%);
}


.copyright {
  color: white;
  font-size: 1rem;
  font-family: initial;
  text-align: center;
  width: auto;
  background: rgb(63, 94, 251);
  background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(255, 69, 107, 1) 100%);
}

.footerContent {
  margin-top: 30px;
}

.icon1 {
  display: inline-block;
  font-size: 1.5rem;
}

.iconContent {
  cursor: pointer;
  padding-right: 10px;
  color: black;
}

.iconContent:hover {
  background: none;
  color: rgb(69, 147, 236);
}

.btdt {
  font-family: math;
  padding-right: 5px;
  line-height: 22px;
}

.btdt:hover {
  background: none;
  color: white;
}

.spContent {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(255, 69, 107, 1) 100%);
}

.imgSanpham {
  display: contents;
}

.textsp {
  font-weight: 700;
  color: white;
  font-family: system-ui;
  font-style: italic;
}

.gia {
  text-decoration: underline;
  color: #d3c9c9;
  padding: 0px;
}

.cart {
  border: 3px solid #ddaeeb;
  text-align: center;
  padding: 16px;
  color: #eeedee;
  cursor: pointer;
}

.cart:hover {
  border: 3px solid rgb(251, 63, 76);
  background: rgb(251, 63, 76);
  color: rgb(21, 20, 20);
}